// HUD Colors
@red-team-color: #ff4136;
@red-team-color-dark: #d91900;
@blue-team-color: #00a9e4;
@blue-team-color-dark: #0074d9;
@neutral-team-color: #ffffff;
@overheal-color: #2acd3e;
@overheal-color-dark: #2acd3e;
@text-color: #ffffff;

// Point info variables
@point-height: 64px;
@point-border-width: 4px;